<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Teste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Teste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Teste.Properties.Settings>
            <setting name="UserRoot" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="SenhaRoot" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PortaArduino" serializeAs="String">
                <value />
            </setting>
            <setting name="StringBanco" serializeAs="String">
                <value>Server=DESKTOP-K8AJG2A\SERVER151;Database=db_estacionamento-2021-11-22-19-25;Trusted_Connection=True;</value>
            </setting>
            <setting name="ArquivoAuditoria" serializeAs="String">
                <value />
            </setting>
            <setting name="ModoUnico" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IDEstacionamento" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GerarPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Foto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cancelas" serializeAs="String">
                <value>True</value>
            </setting>
        </Teste.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Teste.Properties.Settings>
            <setting name="UserGuide" serializeAs="String">
                <value>https://www.canva.com/design/DAEsKNNve5I/Rry_tsf_nKEXtVG_14MBZA/view?utm_content=DAEsKNNve5I&amp;utm_campaign=designshare&amp;utm_medium=link&amp;utm_source=sharebutton</value>
            </setting>
        </Teste.Properties.Settings>
    </applicationSettings>
</configuration>